body {
  font-family: sans-serif;
  background-color: bisque;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

.card {
  background-color: white;
  display: grid;
  row-gap: 4px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
}

.card-title {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.card-subText {
  font-size: medium;
  color: gray;
}

.load-btn {
  background-color: orangered;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: medium;
  border-radius: 4px;
}
