body {
  font-family: sans-serif;
}
.active {
  background-color: lightblue;
  color: white;
  border: 2cm;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  border: 2cm;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}
